label {
  position: relative;
  display: block;
  width: 300px;
  height: 50px;
  margin: 35px auto;
  cursor: default;
  text-transform: uppercase;
}
label * {
  transition: all 200ms linear;
}
label input[type=checkbox] {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
label input[type=checkbox]:checked + .base-color .toggle-slider {
  margin-left: 43.5%;
}
label input[type=checkbox]:checked + .base-color .token {
  color: #1c1e1f;
}
label input[type=checkbox]:checked + .base-color .cash {
  color: #f7fafb;
}
label input[type=checkbox] + .base-color {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 150ms linear;
  background: #b9ccd6;
  border-radius: 32px;
}
label input[type=checkbox] + .base-color .toggle-slider {
  display: block;
  position: absolute;
  content: " ";
  background: #1c1e1f;
  width: 55%;
  height: 100%;
  transition: margin 300ms linear;
  border-radius: 32px;
  height: 46px;
  top: 2px;
  left: 2px;
  background-image: linear-gradient(#21323a 0%, #324853 100%);
}
label input[type=checkbox] + .base-color .token {
  color: #f7fafb;
}
label .cash,
label .token {
  display: block;
  position: absolute;
  width: 50%;
  color: #1c1e1f;
  line-height: 50px;
  text-align: center;
}
label .token {
  left: 0px;
}
label .cash {
  right: 0px;
}

.details {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: white;
  max-width: 790px;
  margin: 35px auto;
  box-shadow: 0 0 3px 2px rgba(28, 30, 31, 0.07);
}
.details img {
  width: 100%;
  height: auto;
  display: block;
  animation-name: fadeInRight;
}
.details .img-wrap {
  align-self: flex-start;
  border-right: 1px solid #f7fafb;
}
.details .details-wrap {
  padding-left: 5%;
  transition: transform 0.45s, opacity 0.25s;
}
.details .brand {
  color: rgba(28, 30, 31, 0.5);
}
.details [class*=price-] {
  font-size: 1.7em;
}
.details .price-tokens {
  display: none;
  opacity: 0;
}
.details.tokens-selected .price-tokens {
  display: block;
  opacity: 1;
}
.details.tokens-selected .price-cash {
  display: none;
  opacity: 0;
}


label input[type=checkbox]:checked + .base-color1 .toggle-slider1 {
  margin-left: 43.5%;
}
label input[type=checkbox]:checked + .base-color1 .token1 {
  color: #1c1e1f;
}
label input[type=checkbox]:checked + .base-color1 .cash1 {
  color: #f7fafb;
}
label input[type=checkbox] + .base-color1 {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 150ms linear;
  background: #b9ccd6;
  border-radius: 32px;
}
label input[type=checkbox] + .base-color1 .toggle-slider1 {
  display: block;
  position: absolute;
  content: " ";
  background: #1c1e1f;
  width: 55%;
  height: 100%;
  transition: margin 300ms linear;
  border-radius: 32px;
  height: 46px;
  top: 2px;
  left: 2px;
  background-image: linear-gradient(#21323a 0%, #324853 100%);
}
label input[type=checkbox] + .base-color1 .token1 {
  color: #f7fafb;
}
label .cash1,
label .token1 {
  display: block;
  position: absolute;
  width: 50%;
  color: #1c1e1f;
  line-height: 50px;
  text-align: center;
}
label .token1 {
  left: 0px;
}
label .cash1 {
  right: 0px;
}

.details1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: white;
  max-width: 790px;
  margin: 35px auto;
  box-shadow: 0 0 3px 2px rgba(28, 30, 31, 0.07);
}
.details1 img {
  width: 100%;
  height: auto;
  display: block;
  animation-name: fadeInRight;
}
.details1 .img-wrap1 {
  align-self: flex-start;
  border-right: 1px solid #f7fafb;
}
.details1 .details-wrap1 {
  padding-left: 5%;
  transition: transform 0.45s, opacity 0.25s;
}
.details1 .brand1 {
  color: rgba(28, 30, 31, 0.5);
}
.details1 [class*=price-] {
  font-size: 1.7em;
}
.details1 .price-tokens1 {
  display: none;
  opacity: 0;
}
.details1.tokens-selected1 .price-tokens1 {
  display: block;
  opacity: 1;
}
.details1.tokens-selected1 .price-cash1 {
  display: none;
  opacity: 0;
}