.CommonImgContentLeft,
.CommonImgContentRight {
    width: 50%;
    width: calc(100% / 2 - 50px);
    align-items: center;
}
.CommonImgContentRight img{
    border-radius:30px;
}
.CommonImgContentSection h2 {
    font-size: 46px;
    margin-bottom: 20px;
    color: #3c3c3c;
}

.CommonImgContentSection p {
    margin-top: 15px;
    line-height: 1.6;
    color: #6a6a6a;
}

.CommonImgContentSection p b,
.CommonImgContentSection p strong {
    color: #3c3c3c;
}

.CommonImgContentSection .arrow-btn {
    margin-top: 40px;
}

@media screen and (min-width: 1600px) {
    .CommonImgContentSectionWrap.d-flex.align-center {
        gap: 50px;
    }
}

@media screen and (max-width: 1600px) {
    .CommonImgContentSectionWrap.d-flex.align-center {
        gap: 40px;
    }
}

@media screen and (max-width:991px) {
    .CommonImgContentSection h2 {
        font-size: 36px;
    }
}

@media screen and (max-width: 767px) {

    .CommonImgContentLeft,
    .CommonImgContentRight {
        width: 100%;
    }

    .CommonImgContentSection h2 {
        font-size: 26px;
        margin-bottom: 0;
    }
}