@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}

@media (min-width: 1300px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1200px;
  }
}

.cursor {
  cursor: pointer;
}

.text-light {
  color: #8b8b8b !important;
}

.text-sml {
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.headerWrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.bg-blue {
  background-color: #233a95;
}

.headerWrapper .top-strip {
  padding: 8px 0;
}

.headerWrapper .top-strip p {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}

.headerWrapper .header {
  width: 100%;
  height: auto;
  padding: 25px 0;
}

.logoWrapper img {
  width: 100%;
}

.headerWrapper .header .part2 .countryDrop {
  width: 170px;
  height: 60px;
  min-width: 170px;
  color: #000 !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  padding: 10px 15px;
  text-align: left;
  justify-content: flex-start !important;
}

.headerWrapper .header .part2 .countryDrop .label {
  font-size: 12px !important;
  text-transform: capitalize !important;
  color: rgba(0, 0, 0, 0.4) !important;
  line-height: 16px;
}

.headerWrapper .header .part2 .countryDrop .name {
  font-size: 14px !important;
  text-transform: capitalize !important;
  color: #233a95 !important;
  font-weight: 700;
  line-height: 16px;
}

.headerWrapper .header .part2 .countryDrop span.ml-auto svg {
  opacity: 0.7;
}

.headerSearch {
  width: 60%;
  height: 60px;
  background-color: #f3f4f7;
  padding: 5px;
  position: relative;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.headerSearch input {
  background-color: transparent !important;
  outline: none !important;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 45px;
  border: 0px !important;
  padding: 0 20px;
}

.headerSearch input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.headerSearch button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
  min-width: 40px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: #000;
}

.headerSearch button svg {
  font-size: 25px;
  opacity: 0.8;
}

.header .part3 .circle {
  align-items: center;
  justify-content: center;
  min-width: 45px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000;
}

.header .part3 .circle svg {
  font-size: 22px;
}

.cartTab .price {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
}

.cartTab button {
  background-color: #fff1ee;
}

.cartTab button svg {
  color: #ea2b0f;
}

.cartTab .count {
  position: absolute;
  top: -6px;
  right: -4px;
  background-color: #ea2b0f;
  border-radius: 50%;
  color: #fff;
  width: 20px;
  height: 20px;
}

.locationModal .MuiPaper-elevation {
  padding: 25px;
  position: relative;
}

.locationModal .countryList {
  margin-bottom: 0;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.locationModal .countryList li {
  width: 100%;
  list-style: none;
}

.locationModal .countryList li button {
  width: 100%;
  text-transform: capitalize;
  color: #000;
  justify-content: flex-start;
  padding: 10px 20px;
}

.locationModal .countryList li button:hover {
  background-color: #f1f1f1;
}

.locationModal .countryList li button.active {
  background-color: #e2e2e2;
}

.locationModal .close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #000;
  min-width: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.locationModal .close svg {
  font-size: 22px;
}

nav .navPart1 {
  max-width: 20%;
  flex: 0 0 20%;
}

nav .navPart2 {
  max-width: 80%;
  flex: 0 0 80%;
}

nav .navPart1 .catWrapper {
  position: relative;
}

nav .navPart1 .catWrapper .sidebarNav {
  position: absolute;
  top: 136%;
  left: 0px;
  width: 100%;
  height: 0;
  opacity: 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 0px;
  transition: all 0.2s;
  visibility: hidden;
  z-index: 100;
}

nav .navPart1 .catWrapper .sidebarNav.open {
  height: auto;
  opacity: 1;
  visibility: inherit;
}

nav .navPart1 .catWrapper .sidebarNav ul li {
  width: 100%;
  list-style: none;
  padding: 0px 10px;
}

nav .navPart1 .catWrapper .sidebarNav ul li button {
  color: #000;
  width: 100%;
  justify-content: flex-start;
  text-transform: capitalize;
}

nav .navPart1 .catWrapper .sidebarNav ul li button svg {
  font-size: 12px;
  opacity: 0.6;
}

nav .navPart1 .catWrapper .sidebarNav ul li button:hover {
  background-color: transparent;
}

nav .navPart1 .catWrapper .sideNav li {
  width: 100%;
}

nav .navPart1 .catWrapper .sidebarNav ul li {
  position: static;
  padding-right: 15px;
}

nav .navPart1 .catWrapper .sidebarNav ul li .submenu {
  position: absolute;
  top: 0px;
  left: 101%;
  width: 250px;
  height: 100%;
  background-color: #fff;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
}

nav .navPart1 .catWrapper .sidebarNav ul li:hover .submenu {
  opacity: 1;
  visibility: inherit;
  left: 100%;
}

nav .navPart1 .catWrapper .sidebarNav ul li:hover .submenu button {
  border-radius: 0px;
}

nav .allCatTab {
  background-color: #2bbef9;
  padding: 10px 15px;
  border-radius: 30px;
}

nav .allCatTab:hover {
  background-color: #2bbef9;
}

nav .allCatTab * {
  color: #fff
}

nav .allCatTab .text {
  font-weight: 600;
  text-transform: uppercase;
}

nav .allCatTab .icon1 svg {
  font-size: 20px;
}

nav .allCatTab .icon2 svg {
  font-size: 15px;
}


nav .navPart2 ul {
  margin-bottom: 0;
}

nav .navPart2 ul li {
  padding-bottom: 20px;
}

nav .navPart2 ul li a {
  text-decoration: none;
}

nav .navPart2 ul li a button {
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 8px 15px;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}

nav .navPart2 ul li a:hover {
  background-color: #f0faff;
  color: #2bbef9;
}

nav .navPart2 ul li {
  position: relative;
}

nav .navPart2 ul li .submenu {
  position: absolute;
  top: 150%;
  left: 0px;
  min-width: 200px;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  z-index: 100;
}

nav .navPart2 ul li .submenu a {
  display: block;
  width: 100%;
}

nav .navPart2 ul li .submenu a button {
  width: 100%;
  justify-content: flex-start;
  border-radius: 0px;
  text-transform: capitalize;
  font-weight: 600;
}

nav .navPart2 ul li .submenu a button:hover {
  background-color: #f1f1f1;
}

nav .navPart2 ul li:hover .submenu {
  opacity: 1;
  visibility: inherit;
  top: 100%;
}

/* Banner Section */
.homeBannerSection {
  position: relative;
  overflow: hidden;
}

.homeBannerSection * {
  outline: none;
}

.homeBannerSection .slick-arrow {
  position: absolute;
  top: 45%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #444;
  border-radius: 100%;
  font-weight: bold;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.homeBannerSection .slick-arrow:hover,
.homeBannerSection .slick-arrow:focus {
  background-color: #444;
}

.homeBannerSection .slick-arrow.slick-next {
  right: 25px;
}

.homeBannerSection .slick-arrow.slick-prev {
  left: 25px;
}

.homeBannerSection .slick-arrow.slick-next::before {
  color: #fff;
  font-family: "Font Awesome 6 Free";
  content: "\f054";
}

.homeBannerSection .slick-arrow.slick-prev::before {
  color: #fff;
  font-family: "Font Awesome 6 Free";
  content: "\f104";
}


.homeProducts {
  padding: 25px 0;
  width: 100%;
}

.homeProducts .banner {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.productRow .hd {
  font-size: 20px;
  font-weight: 600;
}

.viewAllBtn {
  padding: 5px 25px !important;
  background-color: #fff !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-radius: 30px !important;
  color: #000 !important;
  font-weight: 600;
  text-transform: capitalize !important;
}

.viewAllBtn svg {
  font-size: 20px;
}

.productItem {
  width: 100%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
}

.productItem .badge {
  position: absolute;
  display: inline-block;
  padding: 7px 10px;
  top: 10px;
  left: 10px;
  z-index: 100;
}

.text-bg-primary {
  background-color: #2bbef9 !important;
}

.productItem .info {
  padding: 15px;
}

.productItem .info h4 {
  font-size: 15px;
  font-weight: 600;
}

.productItem .info .oldPrice {
  font-size: 16px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.2);
  text-decoration: line-through;
}

.productItem .info .netPrice {
  font-size: 16px;
  font-weight: bold;
}

.productItem .actions {
  position: absolute;
  top: 20px;
  right: -100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
  transition: all 0.5s ease-in-out;
}

.productItem .actions svg {
  color: #000;
  opacity: 0.8;
  pointer-events: none;
  font-size: 15px;
}

.productItem .actions button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  height: 40px;
  width: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s;
}

.productItem .actions button:hover {
  background-color: #233a95;
}

.productItem .actions button:hover svg {
  color: #fff;
}

.productItem {
  overflow: hidden;
}

.productItem:hover .actions {
  opacity: 1;
  right: 10px;
}

.productItem .imgWrapper img {
  transition: all 0.3s ease-in-out;
}

.productItem:hover img {
  transform: scale(1.1);
}

.product_row .productItem {
  border-right: 1px solid transparent;
}

.product_row .swiper-slide:last-child .productItem {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.swiper {
  padding-right: 1px !important;
}