body {
    font-family: 'open Sans',sans-serif;
    background-color: black;
}
.cal-container {
    width: 80%;
    height: 550px;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('bg.jpg');
    margin: 0 auto;
}
.calculator {
    width: 40%;
    height: 520px;
    background-color: #eaedef;
    margin: 20px auto;
    top: 20px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.5);
}